AI-Powered Legal Letter Generation with Jurisdiction Research (2).json
{
  "name": "AI-Powered Legal Letter Generation with Jurisdiction Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legal-letter-submission",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1622d05-a846-4625-90f3-3a74edf9919b",
      "name": "Receive Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        80
      ],
      "webhookId": "9629925a-0944-4d48-8a01-1dde4ea735a9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6rGE2IxLfXt5wJ7B",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "letterType",
              "value": "={{ $json.body.letterType }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "intakeData",
              "value": "={{ JSON.stringify($json.body.intakeData) }}",
              "type": "object"
            },
            {
              "id": "id-3",
              "name": "senderName",
              "value": "={{ $json.body.intakeData.senderName }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "senderState",
              "value": "={{ $json.body.intakeData.senderState }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "recipientName",
              "value": "={{ $json.body.intakeData.recipientName }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "recipientState",
              "value": "={{ $json.body.intakeData.recipientState }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "issueDescription",
              "value": "={{ $json.body.intakeData.issueDescription }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "desiredOutcome",
              "value": "={{ $json.body.intakeData.desiredOutcome }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9f0267d2-58fd-487a-804a-eba260869204",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "letters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.letterId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "generating"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "faea3767-ac53-45f1-9d65-bd5e653db01b",
      "name": "Update Letter Status to Generating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DUzz3XeESSVcqgrT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "jurisdictionContext",
              "value": "=Sender State: {{ $json.body.senderState }}, Recipient State: {{ $json.body.recipientState }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "letterTypeFormatted",
              "value": "={{ $json.body.letterType }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "fullIntakeData",
              "value": "={{ JSON.stringify($json.body.intakeData) }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "courtType",
              "value": "={{ $json.body.intakeData.courtType || 'Not specified' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6f69027b-5a41-4b9d-b110-808e79881c76",
      "name": "Prepare Jurisdiction Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Demand Letter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Demand Letter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Cease & Desist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cease & Desist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Contract Breach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contract Breach"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Eviction Notice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eviction Notice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Employment Dispute",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Employment Dispute"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.letterType }}",
                    "rightValue": "Consumer Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consumer Complaint"
            }
          ]
        },
        "options": {}
      },
      "id": "16dcbd74-552a-49f4-b872-ebd0514ca93a",
      "name": "Route by Letter Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -16,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.issueDescription }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a legal jurisdiction research expert specializing in US state law.\n\nYour task is to research jurisdiction-specific legal requirements for {{ $json.letterTypeFormatted }} based on:\n- Sender State: {{ $json.senderState }}\n- Recipient State: {{ $json.recipientState }}\n- Court Type: {{ $json.courtType }}\n- Letter Type: {{ $json.letterTypeFormatted }}\n\nResearch and provide:\n1. Applicable state statutes and laws for both sender and recipient states\n2. Relevant legal precedents and case law\n3. Jurisdiction-specific requirements (notice periods, formatting, delivery methods)\n4. State-specific legal language and terminology requirements\n5. Any interstate legal considerations if sender and recipient are in different states\n6. Court-specific rules if court type is specified\n\nProvide citations for all legal references. Return your research in the structured JSON format."
        }
      },
      "id": "3ce2e709-9945-4a05-89e4-10ed148e21ea",
      "name": "Jurisdiction Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "b6cd1a04-a14d-4ccd-b5c8-bd1a5710347b",
      "name": "GPT-4o Model for Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "mOSnvGzVyKVKcLxu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"senderStateStatutes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"statute\": {\"type\": \"string\"},\n          \"citation\": {\"type\": \"string\"},\n          \"summary\": {\"type\": \"string\"}\n        }\n      }\n    },\n    \"recipientStateStatutes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"statute\": {\"type\": \"string\"},\n          \"citation\": {\"type\": \"string\"},\n          \"summary\": {\"type\": \"string\"}\n        }\n      }\n    },\n    \"legalPrecedents\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"caseName\": {\"type\": \"string\"},\n          \"citation\": {\"type\": \"string\"},\n          \"relevance\": {\"type\": \"string\"}\n        }\n      }\n    },\n    \"jurisdictionRequirements\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"noticePeriod\": {\"type\": \"string\"},\n        \"deliveryMethod\": {\"type\": \"string\"},\n        \"formattingRequirements\": {\"type\": \"string\"}\n      }\n    },\n    \"requiredLanguage\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n    \"interstateConsiderations\": {\"type\": \"string\"}\n  }\n}"
      },
      "id": "5d993414-db4e-475d-8332-de39d8a89c2d",
      "name": "Structure Research Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        304
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search for jurisdiction-specific legal statutes, case law, and legal requirements with citations",
        "messages": {
          "message": [
            {}
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "71f28325-a8bf-4ab2-aea8-00c475e8d394",
      "name": "Perplexity Legal Research",
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "credentials": {
        "perplexityApi": {
          "id": "6a7Yj3aqll51VCQj",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a59e761-5a30-486d-8557-3aec8ac60ad5",
      "name": "SerpAPI Legal Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        592,
        304
      ],
      "credentials": {
        "serpApi": {
          "id": "P2YTPHPR2vZVneV7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Query legal databases, state bar websites, or court websites for jurisdiction-specific requirements",
        "url": "<__PLACEHOLDER_VALUE__legal_database_api_endpoint__>",
        "options": {}
      },
      "id": "d6bb20fc-bf12-46dc-b6b2-4622cfebd88a",
      "name": "Legal Database API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "050e262f-c2cd-44f9-a339-1e2acaff3dd3",
      "name": "Research Context Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert legal letter drafting attorney with expertise in {{ $json.letterTypeFormatted }}.\n\nUsing the jurisdiction research provided and the client intake data, draft a professional {{ $json.letterTypeFormatted }} that:\n\n1. Follows all jurisdiction-specific requirements from the research\n2. Incorporates required legal language and terminology\n3. Cites relevant statutes and case law where appropriate\n4. Addresses the issue: {{ $json.issueDescription }}\n5. Seeks the desired outcome: {{ $json.desiredOutcome }}\n6. Uses proper legal formatting and structure\n7. Includes all required sender and recipient information\n8. Incorporates any additional details provided\n9. Follows notice period and delivery method requirements\n10. Maintains a professional, authoritative tone\n\nClient Information:\n- Sender: {{ $json.senderName }}, {{ $json.intakeData.senderAddress }}, {{ $json.senderState }}\n- Recipient: {{ $json.recipientName }}, {{ $json.intakeData.recipientAddress }}, {{ $json.recipientState }}\n\nReturn the complete letter in the structured JSON format."
        }
      },
      "id": "7971dd31-eb41-4d1e-90bf-6cbd141f9e68",
      "name": "Letter Drafting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "509829b9-1c09-458a-a984-6f6faaa969bc",
      "name": "GPT-4o Model for Drafting",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "mOSnvGzVyKVKcLxu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"letterContent\": {\"type\": \"string\", \"description\": \"The complete formatted legal letter\"},\n    \"subject\": {\"type\": \"string\", \"description\": \"Letter subject line\"},\n    \"statutesCited\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of statutes cited in the letter\"\n    },\n    \"legalBasis\": {\"type\": \"string\", \"description\": \"Summary of legal basis for the letter\"},\n    \"nextSteps\": {\"type\": \"string\", \"description\": \"Recommended next steps or actions\"},\n    \"deliveryInstructions\": {\"type\": \"string\", \"description\": \"How the letter should be delivered based on jurisdiction requirements\"}\n  },\n  \"required\": [\"letterContent\", \"subject\"]\n}"
      },
      "id": "f393fbd2-f814-4939-a5fb-a9d55f8abe5b",
      "name": "Structure Letter Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "letters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Form Data').item.json.body.letterId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "letter_content",
              "fieldValue": "={{ $json.output.letterContent }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.output.subject }}"
            },
            {
              "fieldId": "statutes_cited",
              "fieldValue": "={{ JSON.stringify($json.output.statutesCited) }}"
            },
            {
              "fieldId": "legal_basis",
              "fieldValue": "={{ $json.output.legalBasis }}"
            },
            {
              "fieldId": "next_steps",
              "fieldValue": "={{ $json.output.nextSteps }}"
            },
            {
              "fieldId": "delivery_instructions",
              "fieldValue": "={{ $json.output.deliveryInstructions }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "84b37ee7-4300-4189-9020-c1794d95db84",
      "name": "Save Generated Letter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DUzz3XeESSVcqgrT",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Form Submission": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Update Letter Status to Generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Letter Status to Generating": {
      "main": [
        [
          {
            "node": "Prepare Jurisdiction Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Jurisdiction Data": {
      "main": [
        [
          {
            "node": "Route by Letter Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Letter Type": {
      "main": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Model for Research": {
      "ai_languageModel": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure Research Output": {
      "ai_outputParser": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Legal Research": {
      "ai_tool": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Legal Search": {
      "ai_tool": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Legal Database API Tool": {
      "ai_tool": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Context Memory": {
      "ai_memory": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Jurisdiction Research Agent": {
      "main": [
        [
          {
            "node": "Letter Drafting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Model for Drafting": {
      "ai_languageModel": [
        [
          {
            "node": "Letter Drafting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure Letter Output": {
      "ai_outputParser": [
        [
          {
            "node": "Letter Drafting Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Letter Drafting Agent": {
      "main": [
        [
          {
            "node": "Save Generated Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf78c7a4-cc79-4088-bd22-5529704bbb00",
  "meta": {
    "instanceId": "a67a0105808af3b8e272e32260a5b28103487a4f558cd1e13faac8f94755469d"
  },
  "id": "pPPHmevzIsjbOhwlFzvPg",
  "tags": []
}