AI-Powered Legal Letter Generation with Jurisdiction Research (IMPROVED).json
{
  "name": "AI-Powered Legal Letter Generation with Jurisdiction Research (IMPROVED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legal-letter-submission",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1622d05-a846-4625-90f3-3a74edf9919b",
      "name": "Receive Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-912, 80],
      "webhookId": "9629925a-0944-4d48-8a01-1dde4ea735a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "letterType",
              "value": "={{ $json.body.letterType }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "letterId",
              "value": "={{ $json.body.letterId }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "senderName",
              "value": "={{ $json.body.intakeData.senderName }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "senderState",
              "value": "={{ $json.body.intakeData.senderState }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "recipientName",
              "value": "={{ $json.body.intakeData.recipientName }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "recipientState",
              "value": "={{ $json.body.intakeData.recipientState }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "issueDescription",
              "value": "={{ $json.body.intakeData.issueDescription }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "desiredOutcome",
              "value": "={{ $json.body.intakeData.desiredOutcome }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "intakeData",
              "value": "={{ JSON.stringify($json.body.intakeData) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "9f0267d2-58fd-487a-804a-eba260869204",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-688, 80]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "letters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.letterId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "generating" },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "faea3767-ac53-45f1-9d65-bd5e653db01b",
      "name": "Update Letter Status to Generating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-464, 80]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.issueDescription }}\n\nSender State: {{ $json.senderState }}\nRecipient State: {{ $json.recipientState }}\nLetter Type: {{ $json.letterType }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a legal jurisdiction research expert specializing in US state law.\n\nYour task is to research jurisdiction-specific legal requirements for {{ $json.letterType }}.\n\nResearch and provide:\n1. Applicable state statutes and laws for both sender and recipient states\n2. Relevant legal precedents and case law\n3. Jurisdiction-specific requirements (notice periods, formatting, delivery methods)\n4. State-specific legal language and terminology requirements\n5. Any interstate legal considerations if sender and recipient are in different states\n\nProvide citations for all legal references. Return your research in the structured JSON format."
        }
      },
      "id": "3ce2e709-9945-4a05-89e4-10ed148e21ea",
      "name": "Jurisdiction Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [464, 80]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "b6cd1a04-a14d-4ccd-b5c8-bd1a5710347b",
      "name": "GPT-4o Model for Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [208, 304]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"senderStateStatutes\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"statute\": {\"type\": \"string\"}, \"citation\": {\"type\": \"string\"}, \"summary\": {\"type\": \"string\"}}}},\n    \"recipientStateStatutes\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"statute\": {\"type\": \"string\"}, \"citation\": {\"type\": \"string\"}, \"summary\": {\"type\": \"string\"}}}},\n    \"legalPrecedents\": {\"type\": \"array\", \"items\": {\"type\": \"object\", \"properties\": {\"caseName\": {\"type\": \"string\"}, \"citation\": {\"type\": \"string\"}, \"relevance\": {\"type\": \"string\"}}}},\n    \"jurisdictionRequirements\": {\"type\": \"object\", \"properties\": {\"noticePeriod\": {\"type\": \"string\"}, \"deliveryMethod\": {\"type\": \"string\"}, \"formattingRequirements\": {\"type\": \"string\"}}},\n    \"requiredLanguage\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n    \"interstateConsiderations\": {\"type\": \"string\"}\n  }\n}"
      },
      "id": "5d993414-db4e-475d-8332-de39d8a89c2d",
      "name": "Structure Research Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [848, 304]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search for jurisdiction-specific legal statutes, case law, and legal requirements with citations",
        "options": {}
      },
      "id": "71f28325-a8bf-4ab2-aea8-00c475e8d394",
      "name": "Perplexity Legal Research",
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [464, 304]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "050e262f-c2cd-44f9-a339-1e2acaff3dd3",
      "name": "Research Context Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [336, 304]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($('Extract Form Data').item.json) }}\n\nJURISDICTION RESEARCH:\n{{ JSON.stringify($json.output) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert legal letter drafting attorney.\n\nUsing the jurisdiction research and client intake data, draft a professional {{ $('Extract Form Data').item.json.letterType }} that:\n\n1. Follows all jurisdiction-specific requirements from the research\n2. Incorporates required legal language and terminology\n3. Cites relevant statutes and case law where appropriate\n4. Addresses the issue described\n5. Seeks the desired outcome\n6. Uses proper legal formatting and structure\n7. Maintains a professional, authoritative tone\n\nReturn the complete letter in the structured JSON format."
        }
      },
      "id": "7971dd31-eb41-4d1e-90bf-6cbd141f9e68",
      "name": "Letter Drafting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1056, 80]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "509829b9-1c09-458a-a984-6f6faaa969bc",
      "name": "GPT-4o Model for Drafting",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1072, 304]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"letterContent\": {\"type\": \"string\", \"description\": \"The complete formatted legal letter\"},\n    \"subject\": {\"type\": \"string\", \"description\": \"Letter subject line\"},\n    \"statutesCited\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}, \"description\": \"List of statutes cited in the letter\"},\n    \"legalBasis\": {\"type\": \"string\", \"description\": \"Summary of legal basis for the letter\"},\n    \"nextSteps\": {\"type\": \"string\", \"description\": \"Recommended next steps or actions\"},\n    \"deliveryInstructions\": {\"type\": \"string\", \"description\": \"How the letter should be delivered based on jurisdiction requirements\"}\n  },\n  \"required\": [\"letterContent\", \"subject\"]\n}"
      },
      "id": "f393fbd2-f814-4939-a5fb-a9d55f8abe5b",
      "name": "Structure Letter Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1200, 304]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "letters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Form Data').item.json.letterId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "pending_review" },
            {
              "fieldId": "ai_draft_content",
              "fieldValue": "={{ $json.output.letterContent }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.output.subject }}"
            },
            {
              "fieldId": "statutes_cited",
              "fieldValue": "={{ JSON.stringify($json.output.statutesCited || []) }}"
            },
            {
              "fieldId": "legal_basis",
              "fieldValue": "={{ $json.output.legalBasis }}"
            },
            {
              "fieldId": "next_steps",
              "fieldValue": "={{ $json.output.nextSteps }}"
            },
            {
              "fieldId": "delivery_instructions",
              "fieldValue": "={{ $json.output.deliveryInstructions }}"
            },
            {
              "fieldId": "generated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "84b37ee7-4300-4189-9020-c1794d95db84",
      "name": "Save Generated Letter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1408, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, letterId: $('Extract Form Data').item.json.letterId, status: 'pending_review', supabaseUpdated: true, message: 'Letter generated with jurisdiction research', letterContent: $json.output?.letterContent || '', subject: $json.output?.subject || '' }) }}",
        "options": {}
      },
      "id": "return-success",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Letter generation failed: ' + ($json.error?.message || 'Unknown error'), letterId: $('Extract Form Data').item.json.letterId }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "return-error",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 240]
    }
  ],
  "connections": {
    "Receive Form Submission": {
      "main": [[{ "node": "Extract Form Data", "type": "main", "index": 0 }]]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Update Letter Status to Generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Letter Status to Generating": {
      "main": [
        [{ "node": "Jurisdiction Research Agent", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o Model for Research": {
      "ai_languageModel": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure Research Output": {
      "ai_outputParser": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Legal Research": {
      "ai_tool": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Context Memory": {
      "ai_memory": [
        [
          {
            "node": "Jurisdiction Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Jurisdiction Research Agent": {
      "main": [
        [{ "node": "Letter Drafting Agent", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o Model for Drafting": {
      "ai_languageModel": [
        [
          {
            "node": "Letter Drafting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure Letter Output": {
      "ai_outputParser": [
        [
          {
            "node": "Letter Drafting Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Letter Drafting Agent": {
      "main": [
        [{ "node": "Save Generated Letter", "type": "main", "index": 0 }]
      ]
    },
    "Save Generated Letter": {
      "main": [
        [{ "node": "Return Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "improved-v1",
  "id": "improved-letter-gen-workflow"
}
